.current-tile
{
    width: 240px;
    height: 240px;
    margin: auto;
    margin-top: 0.5em;
    padding: 0.5em;
    align-items: center;
}

.current-tile-content
{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    margin: 0em;
    padding: 0em;
    z-index: 2;
}

.last-updated-time
{
  padding-right: 2em;
  font-family: monospace;
  color:darkgray;
  text-align: right;
}

.left-block 
{
    text-align: left;
}

.right-block
{
    text-align: right;
}

.flex-block
{
    margin: 0em;
    padding: 0em;
    display: flex;
}

.location-text
{
    margin-left: 0.1em;
    text-shadow: 0px 0px 4px rgba(169, 169, 169, 0.3);
}

.location-text-sub
{
    margin-left: 1em;
    font-weight: normal;
    color: darkgray;
    text-shadow: 0px 0px 4px rgba(169, 169, 169, 0.3);
}

.current-date
{
    font-size: 25px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
}

.current-time
{
    font-family: Gotham;
    margin: 0em;
    margin-top: -0.1em;
    padding: 0em;
    font-weight: normal;
    font-size: 30px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
}

.current-time-second
{
    margin: 0em;
    margin-left: 0em;
    margin-top: -0.1em;
    padding: 0em;
    font-weight: lighter;
    font-size: 50px;
    color: darkgray;
    text-shadow: 0px 0px 4px rgba(169, 169, 169, 0.3);
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham'), url(./../fonts/Gotham/gothamssm_bold.otf) format('opentype');
  }

.current-temperature
{
    font-family: Gotham;
    display: block;
    padding-top: 0.2em;
    text-align: center;
    font-size: 60px;
}

.weather-detail
{
    color: darkgray;
    font-weight: bold;
    text-shadow: 0px 0px 4px rgba(169, 169, 169, 0.3);
}

h1
{
    margin: 0em;
}

h2
{
    margin: 0em;
}

h3
{
    margin: 0em;
}

h4
{
    margin: 0em;
}